spring:
  application:
    name: pc
  datasource:
    url: jdbc:mysql://localhost:3306/custom_pc_store?useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  security:
    user:
      name: user
      password: user
      roles: USER,ADMIN

pc:
  jwt:
    secret: mySecretKeyForJWTGenerationInJiraCloneProject2025
    expiration: 86400000 # 24 horas